.tech-li {
  border: 4px outset var(--bkg-light);
  background-color: #eee;
}

.tech-li:hover {
  filter: brightness(1.1);
}

.dark .tech-li:hover {
  filter: none;
}

.dark .tech-li {
  border: 4px outset var(--accent);
  background-color: #333;
}

.dark .tech-li:hover {
  border: 4px outset var(--accent-2);
}

.active .tech-li {
  border: 4px outset var(--accent-2);
}
