@tailwind base;
@tailwind components;
@tailwind utilities;

/*****************************/
/***** DEFAULT SETTINGS  *****/
/*****************************/
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Playfair Display", serif; */

  --text-light: rgb(212, 212, 212);
  --accent: rgb(0, 122, 204);
  --accent-2: hsl(358, 79%, 66%);
  --accent-3: hsl(41, 79%, 66%);
  --text-dark: rgb(77, 77, 77);
  --bkg: rgb(30, 30, 30);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-light);
  background-color: var(--bkg);
  text-align: justify;
  animation: fade-in 1s;
}

br {
  height: 1rem;
}

p {
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
}
article {
  padding: 1rem 2rem;
}
@media screen and (max-width: 600px) {
  article img {
    width: 100%;
    height: auto;
    padding: 1rem 4rem !important;
  }
}
@media screen and (max-width: 500px) {
  article img {
    padding: 1rem 0 !important;
  }
}
/************************************/
/**********  CUSTOM CLASS  **********/
/************************************/
.site-overflow {
  overflow: hidden;
}
.pointer {
  cursor: pointer;
}
.nav-clamp {
  font-size: clamp(0.5rem, 2.5vw, 1rem);
}
.first-letter {
  font-size: 3rem;
  line-height: 44px;
  margin-right: 4px;
  float: left;
}
.btn-up {
  animation: fade-in 2s;
}
.text-header {
  font-size: clamp(1.15rem, 4vw, 2.25rem);
  /* font-size: 2.25rem; */
}
/*********************************/
/**********  CUSTOM HR  **********/
/*********************************/
.grad-hr {
  background: linear-gradient(
    to right,
    var(--bkg),
    var(--text-light),
    var(--bkg)
  );
  height: 1px;
}
.grad-hr-2 {
  background: linear-gradient(
    to right,
    var(--bkg),
    var(--text-light),
    var(--bkg)
  );
  height: 2px;
}
hr {
  background-color: var(--accent-2);
  border: none;
  height: 1px;
  margin: 0.5rem 0;
}

/********************************/
/**********  CARD NAV  **********/
/********************************/
.active img,
.active .nazwa-modelu {
  border-color: var(--accent-2);
  background-color: var(--accent-2);
}
.active-section {
  opacity: 1;
}
.section:hover {
  text-decoration: underline;
}
.active-section:hover {
  text-decoration: none;
  cursor: default;
}
/************************/
/******** BANNER ********/
/************************/
.banner-grad {
  background-image: linear-gradient(
    to right,
    var(--bkg),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    var(--bkg)
  );
}
/* .flash {
  animation: flash-move 4s infinite forwards ease-in-out;
}

@keyframes flash-move {
  0% {
    left: 0;
    box-shadow: 0 0 5px 1px white;
    scale: 0;
    opacity: 0;
  }

  50% {
    box-shadow: 0 0 15px 1px white;
    scale: 3;
    opacity: 1;
  }

  100% {
    left: 100%;
    box-shadow: 0 0 5px 1px white;
    scale: 0;
    opacity: 0;
  }
} */
/****************************/
/******** ANIMATIONS ********/
/****************************/

/***** BANNER *****/
.banner-section {
  opacity: 0;
}
.banner-on {
  opacity: 1;
}
.banner-fade-in {
  animation: banner-fade-in 1s forwards linear;
}
.banner-fade-out {
  animation: banner-fade-out 1s forwards linear;
}
.banner-scroll {
  animation: banner-scroll 10s infinite linear;
}
@keyframes banner-scroll {
  0% {
    bottom: 50%;
  }
  100% {
    bottom: 0;
  }
}
@keyframes banner-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes banner-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/***** GALLERY *****/
.gallery button,
article,
.article-header {
  animation: fade-in 1s;
}
.full-size {
  animation: fade-in 1.5s;
}
.medium-width {
  width: 0;
  animation: width-in 1s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes width-in {
  from {
    width: 0%;
  }
  to {
    width: 100%;
    border-width: 0px;
  }
}
