@tailwind base;
@tailwind components;
@tailwind utilities;

/*****************************/
/***** DEFAULT SETTINGS  *****/
/*****************************/
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Playfair Display", serif; */

  --text-light: rgb(212, 212, 212);
  --accent: rgb(0, 122, 204);
  --accent-2: hsl(358, 79%, 66%);
  --accent-3: hsl(41, 79%, 66%);
  --text-dark: rgb(77, 77, 77);
  --bkg: rgb(30, 30, 30);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-light);
  background-color: var(--bkg);
  text-align: justify;
  animation: fade-in 1s;
}

br {
  height: 1rem;
}

p {
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
}

/************************************/
/**********  CUSTOM CLASS  **********/
/************************************/
.site-overflow {
  overflow: hidden;
}
.pointer {
  cursor: pointer;
}
.nav-clamp {
  font-size: clamp(0.5rem, 2.5vw, 1rem);
}
.first-letter {
  font-size: 3rem;
  line-height: 44px;
  margin-right: 4px;
  float: left;
}
.btn-up {
  animation: fade-in 2s;
}
/*********************************/
/**********  CUSTOM HR  **********/
/*********************************/
.grad-hr {
  background: linear-gradient(
    to right,
    var(--bkg),
    var(--text-light),
    var(--bkg)
  );
  height: 1px;
}
.grad-hr-2 {
  background: linear-gradient(
    to right,
    var(--bkg),
    var(--text-light),
    var(--bkg)
  );
  height: 2px;
}
hr {
  background-color: var(--accent-2);
  border: none;
  height: 1px;
  margin: 0.5rem 0;
}

/********************************/
/**********  CARD NAV  **********/
/********************************/
.active img,
.active .nazwa-modelu {
  border-color: var(--accent-2);
  background-color: var(--accent-2);
}

/************************/
/******** BANNER ********/
/************************/
.banner-grad {
  background-image: linear-gradient(
    to right,
    var(--bkg),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    var(--bkg)
  );
}

/****************************/
/******** ANIMATIONS ********/
/****************************/

/***** BANNER *****/
/* .banner-fade {
  animation: banner-fade 5s infinite linear;
}
.banner-scroll {
  animation: banner-scroll 5s infinite linear;
} */
@keyframes banner-scroll {
  0% {
    bottom: 13rem;
  }
  100% {
    bottom: 0;
  }
}
@keyframes banner-fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/***** GALLERY *****/
.gallery button {
  animation: fade-in 1s;
}
.full-size {
  animation: fade-in 1.5s;
}
.medium-width {
  width: 0;
  animation: width-in 1s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes width-in {
  from {
    width: 0%;
  }
  to {
    width: 100%;
    border-width: 0px;
  }
}
